.memberStatement {
    text-align: center;
    width: 100%;
    margin-top: 40px;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;

}

.meetingTimes {
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
}

.TechPage {
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
}

.EnergyPage {
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
}

.BusinessPage {
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
}

.EngineeringPage {
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
}

.MemberContainer {
    align-items: center;
}

.teamPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px
}

.testBox {
    padding: 0px 0px 0px 30px;
  }  